{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>计算机网络与信息安全国家级实验教学示范中心</title>
<meta name="keywords" content="connection, blue, free website template, CSS, HTML" />
<meta name="description" content="Connection - free website template provided by templatemo.com" />
<link href="/static/freestyle.css" rel="stylesheet" type="text/css" />

</head>
<body style="background: white">
<div class="templatemo_header"style="margin-bottom: 30px">
    <img src="/static/images/top-1.jpg" style="width: 100%;height: auto" />
        </div>
<div id="templatemo_body_wrapper">
	<div id="templatemo_wrapper">

        <div id="templatemo_main">

            <div class="col_w960">
                <div class="fp_services_box">
                    <h2 style="color: black">丰富的课程</h2>
                    <img src="/static/images/keji.png" class="image_fl" alt="Image" style="height: 50px"/>
                    <p style="font-size: 16px">包含四大类，11门课程，近百项实验内容。</p>

                </div>
                <div class="fp_services_box">
                    <h2 style="color: black"> 方便的访问</h2>
                <img src="/static/images/diannao.png" class="image_fl" alt="Image" style="height: 50px"/>
                    <p style="font-size: 16px">校园网内自由访问,疫情期间所有实验可通过VPN访问。</p>
                </div>
                <div class="fp_services_box last_box">
                    <h2 style="color: black">不间断服务</h2>
                    <img src="/static/images/xinpian.png" class="image_fl" alt="Image"style="height: 50px" />
                    <p style="font-size: 16px">向广大师生提供7*24小时不间断实验教学服务。</p>
                </div>
                <div class="cleaner"></div>
            </div> <!-- end of templatemo fp services -->
            <div class="col_w960">
                <div class="fp_services_box" style=" border: 1px solid gray;height: 200px;border-radius:5px"onclick="javascript:window.location.href='/post'">
                    <div class="text-holder" style="background: #000033">
                    <a href="/post" style="text-decoration: underline;color :white;"><h2 style="color: white;width: 300px;margin-left: 25%">大数据实训平台</h2></a>
                    </div>
                    <a ><img src="/static/images/AI.png" class="image_fl" alt="Image" style="margin-top: -15px"/></a>
                    <a  style="margin-top: -150px;color: black;font-size: 16px;text-decoration:none">支持课程/实验内容：</a>
                    <a style="font-size: 15px;color: grey;font-size: 17px;white-space: pre-line ;text-decoration:none;margin-left: 5px">
                        《机器学习》
                        《模式识别》
                        《大数据》</a>


                </div>
                <div class="fp_services_box" style=" border: 1px solid gray;margin-left: -10px;height: 200px;border-radius:5px"onclick="javascript:window.location.href='/post1'">
                    <div class="text-holder"style="background: #000033">
                    <a href="/post1" style="text-decoration: underline;color :white;"><h2 style="color: white;width: 300px;margin-left: 18%">信息安全实训系统</h2></a>
                    </div>
                    <a ><img src="/static/images/security1.png" class="image_fl" alt="Image" style="margin-top: -15px"/></a>
                    <a  style="margin-top: -150px;color: black;font-size: 16px;text-decoration:none;">支持课程/实验内容：</a>
                    <a  style="font-size: 15px;color: grey;text-decoration:none;font-size: 16px;white-space: pre-line ">
                        《计算机安全导论》
                        《密码学与网络安全》</a>


                </div>
                <div class="fp_services_box" style=" border: 1px solid gray;margin-left: 650px;margin-top: -203px;height: 200px;border-radius:5px"onclick="javascript:window.location.href='/post2'">
                    <div class="text-holder"style="background: #000033">
                    <a href="/post2" style="text-decoration: underline;color :white;"><h2 style="color: white;width: 300px;margin-left: 8%;font-size: 23px">TCP/IP协议实验教学系统</h2></a>
                    </div>
                    <a ><img src="/static/images/tcp.png" class="image_fl" alt="Image" style="margin-top: -15px"/></a>
                    <a style="margin-top: -150px;color: black;font-size: 16px;text-decoration:none;">支持课程/实验内容：</a>
                    <a style="font-size: 15px;color: grey;font-size: 17px;text-decoration:none;white-space: pre-line ">
                        计算机网络
                        协议实验 等</a>

                </div>
                <div class="fp_services_box" style=" border: 1px solid gray;border-style:groove;height: 200px;border-radius:5px;margin-top: 30px"onclick="javascript:window.location.href='/post3'">
                    <div class="text-holder"style="background: #000033">
                    <a href="/post3" style="text-decoration: underline;color :white;"><h2 style="color: white;width: 300px;margin-left: 8%;font-size: 23px">云安全综合教学实训平台</h2></a>
                    </div>
                    <a ><img src="/static/images/yun1.png" class="image_fl" alt="Image" style="margin-top: -15px"/></a>
                    <a  style="margin-top: -150px;color: black;font-size: 16px;text-decoration:none;">支持课程/实验内容:</a>
                    <a style="font-size: 15px;color: grey;font-size: 17px;text-decoration:none;white-space: pre-line ">
                                                云安全实训
                                                网络渗透攻击实训
                                                网络安全加固实训 等</a>
                </div>
                <div class="fp_services_box" style=" border: 1px solid gray;margin-left: -6px;height: 200px;border-radius:5px;margin-top: 30px"onclick="javascript:window.location.href='/post4'">
                    <div class="text-holder"style="background: #000033">
                        <a href="/post4" style="text-decoration: underline;color :white;"><h2 style="color: white;width: 300px;margin-left: 25%">电子技术系列</h2></a>
                    </div>
                    <a ><img src="/static/images/dianzi2.png" class="image_fl" alt="Image" style="margin-top: -15px"/></a>
                   <a  style="margin-top: -150px;color: black;font-size: 16px;text-decoration:none;">支持课程/实验内容：</a>
                    <a style="font-size: 15px;color: grey;text-decoration:none;font-size: 15px;white-space: pre-line ">
                        《模拟电子技术》
                        《数字电子技术》
                        《电子技术基础》等</a>
                </div>
                <div class="fp_services_box" style=" border: 1px solid gray;border-style:groove;margin-left: 650px;margin-top: -204px;height: 200px;border-radius:5px"onclick="javascript:window.location.href='/post5'">
                    <div class="text-holder"style="background: #000033">
                        <a href="/post5" style="text-decoration: underline;color :white;"><h2 style="color: white;width: 300px;margin-left: 80px">实验选课系统</h2></a>
                    </div>
                    <a href="http://vlab.rainier.net.cn"><img src="/static/images/syxk.png" class="image_fl" alt="Image" style="margin-top: -15px"/></a>
                    <a style="margin-top: -150px;color: black;font-size: 16px;text-decoration:none;">支持课程/实验内容：</a>
                    <a style="font-size: 15px;color: grey;font-size: 16px;text-decoration:none;white-space: pre-line ">
                        计算机专业实践中心实验选排系统</a>
                </div>

                <div class="fp_services_box" style=" border: 1px solid gray;border-style:groove;margin-left: 650px;margin-top:25px;height: 200px;border-radius:5px"onclick="javascript:window.location.href='/post8'">
                    <div class="text-holder"style="background: #000033">
                        <a href="/post8" style="text-decoration: underline;color :white;"><h2 style="color: white;width: 300px;margin-left: 10%">云安全平台配套服务器</h2></a>
                    </div>
                    <a ><img src="/static/images/logo9.png" class="image_fl" alt="Image" style="margin-top: -15px"/></a>
                    <a  style="margin-top: -150px;color: black;font-size: 16px;text-decoration:none;">支持课程/实验内容：</a>
                    <a style="font-size: 15px;color: grey;font-size: 16px;text-decoration:none;white-space: pre-line ">
                        网络安全实验-环境说明及要求</a>
                </div>
                <div class="fp_services_box" style=" border: 1px solid gray;height: 200px;border-radius:5px;margin-top: -200px"onclick="javascript:window.location.href='/post6'">
                    <div class="text-holder" style="background: #000033">
                    <a href="/post6" style="text-decoration: underline;color :white;"><h2 style="color: white;width: 300px;margin-left: 8%;font-size: 20px">润尼尔虚拟仿真网络教学平台</h2></a>
                    </div>
                    <a ><img src="/static/images/runni2.png" class="image_fl" alt="Image" style="margin-top: -15px"/></a>
                    <a  style="margin-top: -150px;color: black;font-size: 16px;text-decoration:none">支持课程/实验内容：</a>
                    <a style="font-size: 15px;color: grey;font-size: 16px;white-space: pre-line ;text-decoration:none;margin-left: 5px">
                        《计算机网络》
                        《模拟电路》
                        《数字电路》
                        《计算机组成原理》等</a>


                </div>
                <div class="fp_services_box" style=" border: 1px solid gray;margin-left: -6px;height: 200px;border-radius:5px;margin-top: -200px"onclick="javascript:window.location.href='/post7'">
                    <div class="text-holder"style="background: #000033">
                        <a href="/post7" style="text-decoration: underline;color :white;"><h2 style="color: white;width: 300px;margin-left: 14%">微物联共享开放平台</h2></a>
                    </div>
                    <a ><img src="/static/images/huike1.png" class="image_fl" alt="Image" style="margin-top: -15px"/></a>
                   <a  style="margin-top: -150px;color: black;font-size: 16px;text-decoration:none;">支持课程/实验内容：</a>
                    <a style="font-size: 15px;color: grey;text-decoration:none;font-size: 15px;white-space: pre-wrap ">《物联网技术》
《传感器网络》
  虚实联动仿真实验
  大规模节点互联互通
  实验 等
</a>
                </div>
                <div class="cleaner"></div>




        </div> <!-- end of main -->

    <div class="cleaner"></div>
	</div> <!-- end of wrapper -->
    <div class="cleaner"></div>
</div> <!-- end of body wrapper -->


<div id="templatemo_footer_wrapper"style="background: #333333">
	<div id="templatemo_footer"style="height: 150px">
    <div id="copyright"style="color: white;margin-top:50px;font-size: 18px">
    copyright@2020西安电子科技大学 计算机科学与技术学院
    </div>
        <div id="copyright"style="color: white;font-size: 18px">
    计算机网络与信息安全国家级实验教学示范中心
    </div>
  <!-- end of templatemo_footer -->
</div> <!-- end of footer wrapper -->

</body>
</html>