{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>计算机网络与信息安全国家级实验教学示范中心</title>
<link href="/static/infostyle.css" rel="stylesheet" type="text/css" />

</head>
<body style="background: white">
<div class="templatemo_header"style="margin-bottom: 30px">
    <img src="/static/images/top-1.jpg" style="width: 100%;height: auto" />
        </div>
<div id="templatemo_body_wrapper">
        <div class="fav_list"style="margin-right:200px">
    <div data-v-357a65ed="" class="fav_list_box">
        <div  class="fav_list_title">
            <img src="/static/images/weizhi.png" style=";margin-right: 10px">
            <b style="color:#e6282f;margin-top: 100px;font-size: 15px">网站导航：</b>
            <a href="/" style="float:bottom;font-size: 15px">返回首页</a>
        </div>
        <div  class="my_fav_con"style="height: 700px">
            <p style="font-size: 30px;width: 80%;margin-top: 10px;margin-left: 35%">润尼尔虚拟仿真网络教学平台</p>
            <p style="font-size: 20px;width: 100%;margin-top: 70px;margin-left: 20%;color: black">简介：</p>
            <p style="font-size: 18px;width:65%;margin-top: 10px;margin-left:23%;color:grey;white-space: pre-wrap;line-height:30px;">     北京润尼尔公司虚拟仿真网络教学平台，提供虚拟实验教学辅助功能，包括：门户网站、实验前的理论学习、实验的开课管理、典型实验库的维护、实验教学安排、实验过程的智能指导、实验结果的自动批改、实验成绩统计查询、在线答疑、实验教学效果评估等功能，支持自建课程。</p>
            <p style="font-size: 20px;width: 100%;margin-top: 30px;margin-left: 20%">支持课程/实验内容：</p>
            <p style="font-size: 18px;margin-top: 10px;margin-left: 23%;margin-right:100px;white-space: pre-wrap;color:grey;"> 《计算机安全导论》、《密码学与网络安全》等。</p>
            <p style="font-size: 20px;width: 100%;margin-top: 30px;margin-left: 20%">访问入口：</p>
            <a href="http://vlab.rainier.net.cn" target="_blank" style="font-size: 18px;width:65%;margin-top: 10px;margin-left:25%;color:grey;">http://vlab.rainier.net.cn</a>
            <p style="font-size: 20px;width: 100%;margin-top: 30px;margin-left: 20%">说明：</p>
            <p style="font-size: 18px;margin-top: 10px;margin-left: 23%;margin-right:100px;white-space: pre-wrap;color:red;">     校外请通过西电VPN访问；</p>
            <p style="font-size: 18px;width:65%;margin-top: 10px;margin-left:23%;white-space: pre-wrap;color:grey;line-height:30px;">     点击“开通院校入口->西安电子科技大学”。需要使用该平台的老师和学生，请联系“计算机网络与信息安全国家级实验教学示范中心”相关负责老师，获取访问方式。</p>
        </div>
    </div>
</div>



        </div> <!-- end of main -->

    <div class="cleaner"></div>
	</div> <!-- end of wrapper -->
    <div class="cleaner"></div>
</div> <!-- end of body wrapper -->


<div id="templatemo_footer_wrapper"style="background: #333333">
	<div id="templatemo_footer"style="height: 150px">
    <div id="copyright"style="color: white;margin-top:50px;font-size: 18px">
    copyright@2020西安电子科技大学 计算机科学与技术学院
    </div>
        <div id="copyright"style="color: white;font-size: 18px">
    计算机网络与信息安全国家级实验教学示范中心
    </div>
  <!-- end of templatemo_footer -->
</div> <!-- end of footer wrapper -->

</body>
</html>